.button {
    -fx-background-color: #0c1d35;
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic Bold";
    -fx-font-size: 12px;
    -fx-background-radius: 15px;
}
.button:hover {
    -fx-background-color: #5A708F;
}

.button:pressed {
    -fx-background-color: #5A708F;
}



