.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic Bold";
    -fx-font-size: 20px;
}

.button:hover {
    -fx-background-color: #5A708F;
}

.button:pressed {
    -fx-background-color: #5A708F;
}
